.country {
    border: 2px solid green;
    border-radius: 15px;
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.country:hover {
    transform: scale(1.1);
    background-color: rgb(84, 128, 129);
}

.country img {
    width: 180px;
}